.app {
  text-align: center;
  display: flex;
}

.positioned {
  position: absolute;
  top: 0;
  left: 0;
}

.clickarea {
  z-index: 999;
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
