.container {
  position: absolute;
  z-index: 999;
  background: #333333;
  overflow-y: scroll;
  box-shadow: 5px 5px 20px grey;
  color: white;
  height: 100%;
  width: 275px;  
  left: 0;
  top: 0;
}

.search {
  border-radius: 5px;
  width: 80%;
  height:50px;
  color: white;
  padding-left: 8px;
  background: rgb(105, 105, 105);
  font-size: 20px;
  border: none;
  margin: 15px 0 15px 0;
}

.search::placeholder {
  color: white;
}

table {
  border-top: 1px solid #5c5c5c;
}

.placeholder {
  padding: 10px;
  height: 75px;
}

.text-styles {
  font-size: 15px;
  text-align: center;
}

@media only screen and (max-width: 320px) {
  .text-styles { 
     font-size: 15px;
  }
  .container {
    width: 100% !important;
  }
}

td {
  cursor: pointer;
}
