.container {
  background: #333333;
  box-shadow: 5px 5px 20px grey;
  color: white;
  height: 100%;
  width: 250px;
}

.search {
  border-radius: 3px;
  padding: 10px;
  border: none;
  margin: 15px 0 15px 0;
}

.text-xs-center {
  font-size: 12px;
  text-align: center;
}

td {
  cursor: pointer;
}
